.body{
    background-color: rgba(255, 214, 255, 1);
}
.titulo{
    background-color:rgba(187, 208, 255, 1);
    border-radius: 10px;
    margin: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.servicios {
    background-color:rgba(255, 194, 209, 1);
    border-radius: 10px;
    margin: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boton {
    background-color: rgba(200, 182, 255, 1);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.boton:hover {
    background-color: rgba(255, 143, 171, 1); /* Color cuando se pasa el ratón */
}